<body>
    <div id="basic_header">
        <div class="navbar-fixed">
            <nav class="nav-wrapper blue transparent">
                <div class="container">
                    <a href="" class="brand-logo">5booster</a>
                    <a href="" class="sidenav-trigger" data-target="mobile-menu">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class = "" href="#">News</a></li>
                        <li><a class = "" href="contact">Contact</a></li>
                        <li><a class = "" href="signin">Sign in</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Do not put in fixed navbar-->
        <ul class="sidenav" id="mobile-menu">
            <li><a href="#">News</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="signin">Sign in</a></li>
        </ul>
    </div>
    
</body>