html {
  height: 100%;
}

body {
  /* position: absolute; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer.home-footer {
  flex-shrink: 0;
}

footer.page-footer-connected {

}

.home-container {
  flex: 1 0 auto;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

#sidebar {
  /* top: 10%; */
  /* min-width: 200px; */
  /* max-width: 200px; */
  min-height: 100vh;
  background: #7386D5;
  /* position: fixed; */
}

#sidebar ul.components {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul li a {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.user-icon {
  width: 1em;
  height: 1em;
  fill : #000000;
}

.user-icon:hover {
  fill: #4691f6;
}


.footer-link {
  color: rgba(0,0,0,.5);
}

.footer-link:hover {
  text-decoration: none;
  color: rgba(0,0,0,.8);
}

#emailHelp {
  color: rgba(0,0,0,.5);
}

#emailHelp:hover {
  text-decoration: none;
  color: rgba(0,0,0,.8);
}


/*
***************************************************************************************************************************
***************************************************************************************************************************
******************************************************** WORKOUT APP CSS **************************************************
***************************************************************************************************************************
***************************************************************************************************************************
*/

#workouts-filter-title {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', Arial, sans-serif;
  margin-top: 10px;
  font-size: 25px;
  font-weight: normal!important;
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgray;
}

#workouts-global-preview-title {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', Arial, sans-serif;
  margin-top: 10px;
  font-weight: normal!important;
}

.filter-collapse {
  background-color: lightgray;
  border-radius: none!important;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: .2em;
  font-size: 14px;
}

.filter-collapse:focus {
  outline: none;
  box-shadow:none;
}

#workouts-filter-container {
  background-color: #e5e5e5;
  border: none;
}

.workout-preview {
  background: gray;
}
