html {
    position: relative;
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
}

.container {
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#header_connected {
    background: #7386D5;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    background: #7386D5;
    position: fixed;
    z-index: 1;
}

#sidebar ul.components {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul li a {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.page-footer {
    position: relative;
    bottom: 0;
    height: 30%;
    width: 100%;
    z-index: 1;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.user-icon {
    width: 1em;
    height: 1em;
    fill : #000000;
}

.user-icon:hover {
    fill: #4691f6;
}


.footer-link {
  color: rgba(0,0,0,.5);
}

.footer-link:hover {
  text-decoration: none;
  color: rgba(0,0,0,.8);
}

#emailHelp {
  color: rgba(0,0,0,.5);
}

#emailHelp:hover {
  text-decoration: none;
  color: rgba(0,0,0,.8);
}
